services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: entorno-c-dev
    user: 1000:1000
    stdin_open: true
    tty: true
    volumes:
      - .:/app
    working_dir: /app
    command: /bin/bash
